table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

span.ajax-text {
    display: none;
}

.new-cat {
    position: relative;
    margin-top: 32px;
}

.ajax-div-td {
    position: absolute;

}

span.loader {
    display: none;
}

span.ajaxmsg {
    position: absolute;
    display: none;
    color: white;
    background-color: green;
    padding: 16px;
    bottom: 0;
}

.ajaxcart {
    position: relative;
    margin-top: 10px;
}

.navright {
    position: relative;
    margin-top: 10px;
}

.ib {
    display: inline-block !important;
}