@model IEnumerable<CMS.Models.ViewModels.Shop.CategoryVM>

<h3>Category</h3>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/Shop/Category/@item.Slug.ToLower()">@item.Name</a>
        </li>
    }
    
</ul>